:root{
  --text-color: rgb(219,169,136);
  --first-color: rgb(22,44,58);
  --second-color: rgba(217,124,80,0.1);
  --third-color: rgb(217,124,80);
}

@font-face {
  font-family: 'YesevaOne';
  src: url('/Polices/YesevaOne.ttf') format('truetype');
}
@font-face {
  font-family: 'JosefinSans';
  src: url('/Polices/JosefinSans.ttf') format('truetype');
}

body {
  background-color: var(--second-color);
}

h1 {
  margin-top: 60px;
  padding-top: 60px;
  color: var(--first-color);
  text-align: center;
  font-size: 3rem;
}

.introducing {
  padding-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--first-color);
  text-align: center;
  font-size: 1.5rem;
}

.team {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
  justify-content: space-between;
  gap: 3rem;
}

.travelAgent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-bottom: 7rem;
}

.h2Team {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  border-top-left-radius: 30px;
  height: 150px;
  color: var(--first-color);
  background-color: var(--third-color);
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid var(--first-color);
}

.h2TeamHover {
  border-top-right-radius: 30px;
}

.h2TeamImg {
  position: absolute;
  top: -75px;
  max-height: 150px;
  border-radius: 50%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
  max-width: 60%;
  height: auto;
  border: 2px solid var(--text-color);
}

.h2TeamImgHover {
  border-radius: 50%;
  border-bottom-left-radius: 10%;
  border-top-right-radius: 10%;
}

.storyTeam {
  border-bottom-right-radius: 30px;
  color: var(--text-color);
  height: auto;
  background-color: var(--first-color);
  padding: 15px;
  text-align: center;
}

.storyTeamHover {
  border-bottom-left-radius: 30px;
}

@media screen and (min-width: 768px) {

  h1 {
    font-size: 4rem;
  }

  .introducing {
    font-size: 2rem;
  }

  .team {
    padding-top: 100px;
    flex-direction: row;
  }

  .storyTeam {
    line-height: 1.8em;
    height: auto;
  }
}