:root{
    --text-color: rgb(219,169,136);
    --primary-color: rgb(22,44,58);
    --secondary-color: rgba(217,124,80,0.1);
    --third-color: rgb(217,124,80);
}

@font-face {
    font-family: 'YesevaOne';
    src: url('/Polices/YesevaOne.ttf') format('truetype');
}
@font-face {
    font-family: 'JosefinSans';
    src: url('/Polices/JosefinSans.ttf') format('truetype');
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20rem;
    justify-content: space-between;
}

.h2Team {
    color: var(--primary-color);
    background-color: var(--third-color);
}

img {
    border-radius: 50%;
}

.storyTeam {
    color: var(--text-color);
    background-color: var(--primary-color);
}