:root{
  --text-color: rgb(219,169,136);
  --first-color: rgb(22,44,58);
  --second-color: rgba(217,124,80,0.1);
  --third-color: rgb(217,124,80);
}

@font-face {
  font-family: 'YesevaOne';
  src: url('/Polices/YesevaOne.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/Polices/JosefinSans.ttf') format('truetype');
}

body {
  background-color: var(--second-color);
}

h1 {
  font-family: 'YesevaOne', cursive;
  margin-top: 60px;
  padding-top: 60px;
  color: var(--first-color);
  text-align: center;
  font-size: 3rem;
}

.introducing {
  font-family: 'YesevaOne', cursive;
  padding-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  color: var(--first-color);
  text-align: center;
  font-size: 1.5rem;
}

.team {
  padding-top: 60px;
  margin-bottom: 60px;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.travelAgent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-bottom: 7rem;
}

.h2Team {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-top-left-radius: 30px;
  padding-bottom: 20px;
  height: 150px;
  color: var(--first-color);
  background-color: var(--third-color);
  text-align: center;
  font-size: 1.5rem;
  border: 2px solid var(--first-color);
}

.h2TeamImg {
  position: absolute;
  top: -75px;
  max-height: 150px;
  border-radius: 50%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 10%;
  max-width: 60%;
  height: auto;
  border: 2px solid var(--text-color);
}

.h2TeamImg:hover {
  box-shadow: 0 15px 15px var(--first-color);
  transition: 0.5s;
}

h2 {
  font-family: 'YesevaOne', cursive;
}

.storyTeam {
  color: var(--text-color);
  height: auto;
  background-color: var(--first-color);
  border-bottom-right-radius: 30px;
  padding: 15px;
  text-align: center;
  font-family: 'JosefinSans', sans-serif;
}

.bannerColored {
  padding: 60px;
  background-color: var(--third-color);
}

.map {
  margin-top: 100px;
  margin-bottom: 60px;
}

iframe {
  margin-left:auto;
  margin-right:auto;
  max-width: 100%;
}

#goldBook {
  margin-top: 100px;
}

.commentaries {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  justify-content: space-evenly;
  gap: 3rem;
}

.comment {
  text-align: justify;
  padding: 1rem;
  color: var(--first-color);
  background-color: var(--third-color);
  border: 3px solid var(--first-color);
  border-radius: 10px;
}

.clients {
  font-family: 'JosefinSans', sans-serif;
  font-weight: bold;
}

#feedback {
  margin-bottom: 60px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  gap: 0.5rem
}

.form-container label {
  font-family: 'JosefinSans', sans-serif;
  color: var(--secondary-color);
}

.form-container input, 
.form-container textarea {
  font-family: 'JosefinSans', sans-serif;
  font-size: 20px;
  border: solid 1px;
  border-radius: 5px;
  padding: 0.5rem;
}

.form-container textarea {
  height: 5rem;
}

.button {
  display: flex;
  justify-content: center;
}

#button-submit {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: 20px;
  width: 190px;
  cursor: pointer;
}




@media screen and (min-width: 768px) {

  h1 {
    font-size: 4rem;
  }

  .introducing {
    font-size: 2rem;
  }

  .team {
    padding-top: 100px;
    flex-direction: row;
  }

  .storyTeam {
    line-height: 1.8em;
    height: auto;
  }

  .commentaries {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  #contactForm {
    max-width: 83%;
    margin: 0 auto;
  }
}