:root {
    --text-color: rgb(219, 169, 136);
    --background-color: rgb(22, 44, 58);
    --additional-color: rgba(217, 124, 80, 0.1);
    --ternary-light: rgba(201, 125, 80, 0.1);
}


/* KeyFrames animation */

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@font-face {
    font-family: 'YesevaOne';
    src: url('/Polices/YesevaOne.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/Polices/JosefinSans.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--ternary-light);
}

header {
    height: 60px;
    width: auto;
}

.photo-present {
    height: 580px;
    width: auto;
    background-image: url(Images/harryPotterCuidich.jpg);
    background-size: cover;
    margin-bottom: 1rem;
}

.present-voyage {
    height: 580px;
    width: auto;
    display: flex;
    justify-content: center;
}

.photo-text {
    display: flex;
    flex-direction: column;
}

.photo-text div {
    height: 360px;
    width: auto;
    background-size: cover;
    margin-bottom: 5rem;
    border-radius: 50%;
}

.photo-text h2 {
    margin: 0;
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'JosefinSans';
    color: var(--text-color);
    background-color: var(--background-color);
    height: 3rem;
    border-radius: 5%;
}

.picture {
    display: flex;
    flex-direction: column-reverse;
    animation-duration: 3s;
    animation-name: slidein;
}

.quizz {
    height: 380px;
    background-color: aqua;
}

footer {
    height: 56px;
    background-color: brown;
}