:root {
    --text-color: rgb(219, 169, 136);
    --background-color: rgb(22, 44, 58);
    --additional-color: rgba(217, 124, 80, 0.1);
    --ternary-light: rgba(201, 125, 80, 0.1);
}

@font-face {
    font-family: 'YesevaOne';
    src: url('/Polices/YesevaOne.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/Polices/JosefinSans.ttf') format('truetype');
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--ternary-light);
}

.photo-present {
    height: 580px;
    max-width: 100%;
    background-image: url("./Images/harryPotterPetit.jpg");
    background-size: cover;
    margin-bottom: -1rem;
}

.present-text {
    display: flex;
    justify-items: center;
    flex-direction: column;
    padding-top: 2rem;
    height: 10rem;
    background-color: var(--background-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

.present-text p {
    margin: 0;
    font-family: "JosefinSans";
    color: var(--text-color);
    font-size: 32px;
    text-align: center
}

.places p {
    font-size: 16px;
}

.present-voyage {
    height: 580px;
    width: auto;
    display: flex;
    justify-content: center;
}

.photo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

.text-picture {
    margin-bottom: 1rem;
}

.picture {
    background-size: cover;
    height: 360px;
    background-repeat: no-repeat;
}

.text {
    background-color: var(--background-color);
    font-family: "YesevaOne";
    color: var(--text-color);
    height: 3rem;
    padding-top: 0.5rem;
    text-align: center;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 900px;
    width: auto;
    align-items: center;
}

.map p {
    color: var(--background-color);
    font-family: 'YesevaOne';
}

.map li {
    color: var(--background-color);
    font-family: 'YesevaOne';
}

#resume-title {
    font-family: 'YesevaOne';
    font-size: 24px;
    border-bottom: solid 1px var(--background-color);
    margin-bottom: 1rem;
}

.resume {
    text-align: center var(--background-color);
    margin-left: 3rem;
    margin-right: 3rem;
}

iframe {
    background-size: cover;
    border-radius: 10%;
    height: 400px;
    width: auto;
}

#remember {
    font-family: 'YesevaOne';
    font-size: 24px;
    border-bottom: solid 1px var(--background-color);
    margin-bottom: 1rem;
}

form {
    margin: 20px;
}

.quizz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    padding-bottom: 20px;
    text-align: center;
}

.quizz h2,
h3 {
    font-family: "YesevaOne";
    color: var(--text-color);
    margin-bottom: 10px;
    border-bottom: solid var(--text-color);
}

.quizz h2 {
    margin-top: 1rem;
}

.quizz label {
    color: var(--text-color);
    font-family: "JosefinSans";
}

.quizz-title {
    margin-top: 1rem;
}

#answer1 {
    width: 300px;
}

#answer2 {
    width: 300px;
}

#answer3 {
    width: 300px;
}

.button {
    border-radius: 10px;
    margin-top: 20px;
}

input[type="submit"] {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 5%;
}

input[type="submit"]:hover {
    background-color: rgb(211, 132, 95);
}

.quizz-reply {
    height: auto;
    width: 80%;
    background-color: var(--background-color);
    font-family: "JosefinSans";
    font-size: 24px;
    color: var(--text-color);
}

@media screen and (min-width: 768px) {
    .photo-present {
        height: 100vh;
        background-image: url("./Images/HarryPotterhero.jpg");
    }
    .present-text {
        margin: 0px;
        padding: 0;
        height: 150px;
    }
    .present-text p {
        text-align: center;
        padding-top: 40px;
    }
    .photo-text {
        flex-direction: row;
        justify-content: space-around;
    }
    .text-picture {
        width: 400px;
    }
    .text {
        height: auto;
    }
    .map {
        flex-direction: row;
        justify-content: space-around;
        height: 600px;
        width: auto;
    }
    .resume {
        width: 400px;
        margin-right: 0;
    }
    iframe {
        background-size: cover;
        border-radius: 10%;
        height: 450px;
        width: 25vw;
    }
    .strong-point {
        width: 10vw;
        margin-left: 1rem;
    }
    #answer1 {
        width: 500px;
    }
    #answer2 {
        width: 500px;
    }
    #answer3 {
        width: 500px;
    }
    .quizz-reply {}
}