:root {
  --text-color: rgb(219, 169, 136);
  --background-color: rgb(22, 44, 58);
  --additional-color: rgba(217, 124, 80, 0.1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "YesevaOne";
  src: url("/Polices/YesevaOne.ttf") format("truetype");
}
@font-face {
  font-family: "JosefinSans";
  src: url("/Polices/JosefinSans.ttf") format("truetype");
}
h1 {
  font-family: "YesevaOne", "Times New Roman", Times, serif;
  font-size: 28px;
  position: absolute;
  top:50%;
  color: var(--text-color);
  -webkit-text-stroke: 0.005px var(--background-color) ;
  text-align: center;
}
main {
  background-color: var(--additional-color);
  font-family: "JosefinSans", Georgia, "Times New Roman", Times, serif;
}

/* Hero */
.hero {
  width: 100%;
  height: 100vh;
  background-image: url(Images/lotr-hobbiton.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 2rem;
}

#prev{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--text-color);
  position: absolute;
  left: 0;
  top: 70%;
  margin: 2rem;
  border: solid var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#next{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--text-color);
  position: absolute;
  right: 0;
  top: 70%;
  margin: 2rem;
  border: solid var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 75%;
  height: 3rem;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}

#searchbar {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 90%;
  width: 80%;
  padding-left: 1rem;
  border-radius: 15px;
  border: var(--background-color);
}

.trait{
  border-right: 1px solid var(--text-color);
  height: 100%;
}


.searchbar img {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#loupe {
  background-color: var(--background-color);
  border: var(--background-color);
  border-radius: 15px;
}

/* Discover-cards */
.discover-button {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 190px;
  height: 33px;
  border: solid 1px var(--text-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discover-button a{
  text-decoration: none;
  color: var(--text-color);
}

.card-discover1 {
  background-image: url(Images/lotr-argonath.jpg);
  background-size: cover;
  width: 100%;
  height: 214px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}
.card-discover2 {
  background-image: url(Images/naboo.jpg);
  background-size: cover;
  width: 100%;
  height: 214px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}
.card-discover3 {
  background-image: url(Images/hp_Glenfinnan-train.jpg);
  background-size: cover;
  width: 100%;
  height: 214px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Presentation */
.presentation {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 100%;
  height: 620px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.presentation h2 {
  padding: 2rem;
}
.presentation h3 {
  font-size: 24px;
}
.quote {
  font-weight: bold;
  font-style: italic;
}
.presentation img {
  padding: 2.5rem;
}
/* Pourquoi nous choisir ? */
.choose-us h2{
  text-align: center;
  padding: 1rem;
  color: var(--background-color);
}
.card-img-left {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 0.75rem;
}
.card-img-right {
  display: flex;
  justify-content: space-around;
  padding: 0.75rem;
}
.card-img-left p {
  width: 60%;
  height: 100px;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
  padding: 0.5rem;
}

.card-img-right p {
  width: 60%;
  height: 100px;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 00.5rem;
}
.card-img-left img {
  border-radius: 50%;
  width: 20%;
  height: 100px;
}
.card-img-right img {
  border-radius: 50%;
  width: 20%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  /* Hero */
  .hero {
    background-image: url(Images/hobbiton.jpg);
  }

  .hero h1{
    font-size: 72px;
  }
  #prev{
    height: 40px;
    width: 40px;
    left: 0;
    top: 50%;
  }

  #next{
    height: 40px;
    width: 40px;
    right: 0;
    top: 50%;
  }
  .searchbar {
    width: 33%;
    height: 3rem;
    justify-content: center;
  }
  /* Discover-cards */
  .discover {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
  }

  .card-discover1 {
    background-image: url(Images/montsaintmichel.jpg);
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 80%;
    border-radius: 15px;
  }

  .card-discover1:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }

  .card-discover2 {
    background-image: url(Images/villanaboo.jpg);
    width: 30%;
    height: 80%;
    border-radius: 15px;
  }

  .card-discover2:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }

  .card-discover3 {
    background-image: url(Images/hp_Glenfinnan-train.jpg);
    background-position: center;
    width: 30%;
    height: 80%;
    margin-bottom: 0;
    border-radius: 15px;
  }

  .card-discover3:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
  }

  /* Presentation */
.presentation {
  width: 80%;
  height: 620px;
  margin: auto;
  padding: 1rem;
  border-radius: 15px;
}

/* Pourquoi nous choisir ? */
.choose-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.choose-us h2{
  padding: 2rem;
  color: var(--background-color);
  font-size: 40px;
}
.card-img-left {
  padding: 1rem;
  width: 80%;
}
.card-img-right {
  padding: 1rem;
  width: 80%;
}
.card-img-left p {
  height: 150px;
}
.card-img-right p {
  height: 150px;
}
.card-img-left img {
  height: 150px;
}
.card-img-right img {
  height: 150px;
}
}