:root{
    --text-color: rgb(219,169,136);
    --background-color: rgb(22,44,58);
    --additional-color: rgba(217,124,80,0.1);
    
}

*{
   margin:0;
   padding: 0; 
   box-sizing: border-box;
}

@font-face {
    font-family: 'YesevaOne';
    src: url('/Polices/YesevaOne.ttf') format('truetype');
}

@font-face {
    font-family: 'JosefinSans';
    src: url('/Polices/JosefinSans.ttf') format('truetype');
}

h1{
    font-family: 'YesevaOne', 'Times New Roman', Times, serif;
    font-size: 28px;
}

main{
    background-color:var(--additional-color);
    font-family: 'JosefinSans', Georgia, 'Times New Roman', Times, serif ;
}


/* Hero */
.hero{
    width: 100%;
    height: 580px;
    background-image: url(Images/lotr-hobbiton.jpg);
    background-size: cover;
}

.searchbar{
    background-color: var(--background-color);
    color: var(--text-color);
    width: 279px;
    height: 51px;
    border-radius: 20;
}

/* Discover-cards */

.discover-button{
    background-color: var(--background-color);
    color: var(--text-color);
    width: 190px;
    height: 33px;
    border: solid 1px var(--text-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;       
}           

.card-discover1{
    background-image: url(Images/lotr-argonath.jpg);
    background-size: cover;
    width: 100%;
    height: 214px;
}

.card-discover2{
    background-image: url(Images/naboo.jpg);
    background-size: cover;
    width: 100%;
    height: 214px;
}

.card-discover3{
    background-image: url(Images/hp_Glenfinnan-train.jpg);
    background-size: cover;
    width: 100%;
    height: 214px;
}

/* Presentation */
.presentation{
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    height: 620px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.presentation h2{
    font-size: 24px;
}

.quote{
    font-weight: bold;
    font-style: italic;
}
/* Pourquoi nous choisir ? */
.card-img-left1{
    width: 60%;
    height: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 15px;
}
.card-img-left2{
    width: 60%;
    height: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 15px;
}

.card-img-right1{
    width: 60%;
    height: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    border-radius: 15px;
}

.card-img-right2{
    width: 60%;
    height: 100px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    border-radius: 15px;
}