:root {
  --primary-color: #DBA988;
  --secondary-color: #162C3A;
  --light: rgba(201, 125, 80, 0.1);
  --ternary-color: #DBA988;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

header {
  background-color: var(--secondary-color);
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: var(--primary-color) 1px;
  background: var(--secondary-color);
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: var(--secondary-color);
  color: var(--primary-color);
  list-style: none;
  padding-top: 4rem;
}

.menuItem a {
  text-decoration: none;
  color: var(--primary-color);
}

.showMenu {
  transform: translateY(0);
}