:root {
  --primary-color: #DBA988;
  --secondary-color: #162C3A;
  --secondary-light: rgba(22, 44, 58, 0.8);
  --ternary-color: #DBA988;
  --ternary-light: rgba(201, 125, 80, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--ternary-light);
}

@font-face {
  font-family: 'YesevaOne';
  src: url('/Polices/YesevaOne.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/Polices/JosefinSans.ttf') format('truetype');
}

header {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
}

.hamburger {
  z-index: 100;
  padding-right: 1.5rem;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 150px;
  right: 0;
  bottom: 350px;
  z-index: 99;
  background: var(--secondary-light);
  list-style: none;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

a {
  font-family: 'JosefinSans';
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: var(--secondary-color);
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

@media screen and (min-width: 601px) {
  .hamburger {
    display: none;
  }

  .menu {
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    transform: none;
    left: 0;
    bottom: 0;
    padding-top: 0;
    position: initial;
    padding-right: 2rem;
}