:root {
  --primary-color: rgb(219, 169, 136);
  --secondary-color: rgb(22, 44, 58);
  --secondary-light: rgba(22, 44, 58, 0.8);
  --ternary-color: rgb(217, 124, 80);
  --ternary-light: rgba(217, 124, 80, 0.1);
}

@font-face {
  font-family: 'YesevaOne';
  src: url('/Polices/YesevaOne.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/Polices/JosefinSans.ttf') format('truetype');
}

body {
  font-family: 'JosefinSans', sans-serif;
}

main {
  line-height: 2rem;
  max-width: 85ch;
  margin: auto;
}

.title-specialist {
  font-family: 'JosefinSans', sans-serif;
  font-size: 24px;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  margin-bottom: 4rem;
  padding: 1rem;
  margin-top: calc(60px + 2rem);
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  gap: 0.5rem
}

.form-container label {
  font-family: 'JosefinSans', sans-serif;
  color: var(--secondary-color);
}

.form-container input, 
.form-container textarea {
  font-family: 'JosefinSans', sans-serif;
  font-size: 20px;
  border: solid 1px;
  border-radius: 5px;
  padding: 0.5rem;
}

.form-container textarea {
  height: 8rem;
}

.button {
  display: flex;
  justify-content: center;
}

#button-submit {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: 20px;
  width: 190px;
  cursor: pointer;
}