:root {
  --primary-color: rgb(219, 169, 136);
  --secondary-color: rgb(22, 44, 58);
  --secondary-light: rgba(22, 44, 58, 0.8);
  --ternary-color: rgb(217, 124, 80);
  --ternary-light: rgba(217, 124, 80, 0.1);

  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--ternary-light);
}

@font-face {
  font-family: 'YesevaOne';
  src: url('/Polices/YesevaOne.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/Polices/JosefinSans.ttf') format('truetype');
}

.navbar {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 1.5em;
}

.navbar p {
  font-family: 'YesevaOne', cursive;
  font-size: 1.5rem;
  color: var(--primary-color);
  text-align: center;
}

.hamburger {
  width: 2em;
  height: 0.25em;
  display: block;
  background: var(--primary-color);
  position: relative;
  cursor: pointer;
  transition: 0.2s transform ease-in-out;
}

.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute;
  left: 0;
  background: inherit;
  width: inherit;
  height: inherit;
  transition: 0.2s transform ease-in-out;
}

.hamburger::after {
  top: 0.65em;
}

.hamburger::before {
  bottom: 0.65em;
}

.close::after,
.close::before {
  top: 0;
  transition: 0.2s transform ease-in-out;
}

.close::before {
  display: none;
}

.close {
  transform: rotate(45deg);
  transition: 0.2s transform ease-in-out;
}

.close::after {
  transform: rotate(-90deg);
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 100vh;

  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: 200ms transform cubic-bezier(0.36, 0.4, 0.42, 1.48) 100ms,
    100ms opacity ease-in-out;
  background-color: var(--secondary-light);
}

/* Reveal menu */
input[type="checkbox"]:checked + .menu {
  position: absolute;
  opacity: 1;
  transform: scaleY(1);
}
/* End reveal menu */

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 1em 1em;
  font-size: 1rem;
  font-family: 'JosefinSans', sans-serif;
}

/* Styling submenu */
.has-dropdown {
  position: relative;
}

.submenu {
  position: absolute;
  background-color: var(--secondary-light);
  padding: 1.5em 0;
  min-width: 16em;

  /* Hide submenus */
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
}

.menu > li:hover > a,
.submenu > li:hover > a {
  background-color: var(--secondary-color);
}

/* Arrows */
.arrow {
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  vertical-align: middle;
  border-left: 0.15em solid currentColor;
  border-bottom: 0.15em solid currentColor;
  transform: rotate(-45deg);
  margin-top: -0.25em;
  transition: transform 100ms ease-in-out;
}

/* Reveal */
.menu > li:hover > a + .submenu {
  opacity: 1;
  position: relative;
  transform: scaleY(1);
}

/* Animate arrows */
.menu > li:hover > a > .arrow {
  transform: rotate(225deg);
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: var(--secondary-color);
}

.social-icons {
    display: flex;
    gap: 1.5rem;
}

footer > div > a {
  font-family: 'JosefinSans', sans-serif;
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu {
    flex-direction: row;
    opacity: 1;
    transform: scaleY(1);
    position: revert;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    align-items: center;
  }

  .menu li a {
    text-align: center;
  }

  .submenu li a {
    text-align: left;
  }
  .menu > li:hover > a + .submenu {
    position: absolute;
  }
}