:root {
  --primary-color: #DBA988;
  --secondary-color: #162C3A;
  --secondary-light: rgba(22, 44, 58, 0.8);
  --ternary-color: #DBA988;
  --ternary-light: rgba(201, 125, 80, 0.1);
}

@font-face {
  font-family: 'YesevaOne';
  src: url('/Polices/YesevaOne.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/Polices/JosefinSans.ttf') format('truetype');
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 0.5rem
  /* max-width: 65ch; */
  /* align-items: center; */
}

.form-container label {
  font-family: 'JosefinSans';
  color: var(--secondary-color);
}

h2 {
  font-family: 'JosefinSans';
  font-size: 24px;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  margin-top: calc(60px + 2rem);
  padding: 1rem 1rem;
  max-width: 65ch;
  align-items: center;
}

/* @media screen and (min-width: 601px) {
  .form-container{
    max-width: 65ch;
  }
  
  h2 {
    max-width: 65ch;
  } */
